.photo-grid {
    margin: auto;
    width: min-content;
    justify-content: center;
    align-content: center;
    justify-items:center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-template-rows: repeat(3, min-content);
    gap: 14px;
    margin-bottom: 92px;
}

@media screen and (min-width: 1279px){
    .photo-grid {
        grid-template-columns: repeat(4, min-content);
        grid-template-rows: repeat(3, min-content);
        width: 1184px;
        max-width: 100%;
    }
}
@media screen and (min-width: 1023px) and (max-width: 1279px){
    .photo-grid {
        grid-template-columns: repeat(3, min-content);
        grid-template-rows: repeat(4, min-content);
        width: 928px;
    }
}
@media screen and (min-width: 767px) and (max-width: 1023px){
    .photo-grid {
        grid-template-columns: repeat(2, min-content);
        grid-template-rows: repeat(6, min-content);
        margin-bottom: 88px;
    }
}
@media screen and (max-width: 767px){
    .photo-grid {
        grid-template-columns: repeat(1, min-content);
        grid-template-rows: repeat(12, min-content);
        margin-bottom: 64px;
    }
}