.intro__list {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1279px){
    
}
@media screen and (min-width: 1023px) and (max-width: 1279px){
    
}
@media screen and (min-width: 767px) and (max-width: 1023px){
    
}
@media screen and (max-width: 767px){
    
}