.footer__copyright {
    margin: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 24px;
}
@media screen and (min-width: 1279px){
    
}

@media screen and (min-width: 1023px) and (max-width: 1279px){
    
}
@media screen and (min-width: 767px) and (max-width: 1023px){
    
}
@media screen and (max-width: 767px){
    .footer__copyright {
        justify-self: flex-start;
        text-align: left;
        line-height: 14px;
        padding-top: 16px;
    }
}
