.cover {
    width: 100%;
    height: 740px;
    max-width: 1184px;
    position: relative;
    margin: auto;
    margin-bottom: 92px;
    background-color: rgba(255, 255,255, 0.8);
    background-image: url(../../images/background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
.cover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../images/overlay.png);
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.cover:hover::before {
    opacity: 0.8;
}
@media screen and (min-width: 1280px){
    .cover {
        max-width: 1184px;
        max-height: 740px;    
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){
    .cover {    
        max-width: 1024px;
        max-height: 640px;    
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .cover {    
        max-width: 768px;
        max-height: 480px;   
        margin-bottom: 88px; 
    }
}
@media screen and (max-width: 768px){
    .cover {
        max-width: 320px;
        max-height: 200px;
        margin-bottom: 64px;
    }
}